.about_us{
    background-image:url("../images/1268183.webp");
    height:500vh;
}
.about_head{
    display: flex;
    justify-content: space-evenly;
    height: 15vh;

}
.headers_left{
    display:flex;
    flex: 0.2;
    margin-right:840px;
}

.image_about{
    margin-top: 20px;
}
.about_title{
    color: rgba(10, 241, 182, 1);
    width: 30vh;
}
.headers_right>a>h1{
    color:rgba(10, 241, 182, 1) ;
    display: flex;
    flex: 0.9;
    border-style: solid;
    border-width: 5px;
    border-radius: 6px;
    color: rgba(10, 241, 182, 1);
    background-color:black ;
    border-color:black;
    box-shadow:0 5px 6px rgba(10, 241, 182, 1),0 2px 3px rgba(10, 241, 182, 1);

}
.about_content{
    color: rgba(10, 241, 182, 1);
    margin-right: 220px;
    margin-left: 20px;
    margin-top: 50px;
    font-size:30px;
    width: 100vh;

}
.about_content > h1{
    margin-right: 530px;
    color:rgba(10, 241, 182, 1) ; ;
}
.about_content > p{
    border-style: solid;
    border-width: 5px;
    border-radius: 30px;
    border-color: black;
    box-shadow:0 5px 10px rgba(10, 241, 182, 1),0 2px 10px rgba(10, 241, 182, 1);
    color:rgba(10, 241, 182, 1)  ;

}
.quote_image{
    width: 100vh;
    height:50vh;
    margin-top: 150px;
    margin-left: 400px;
}