.home{
    background-image:url("../images/1268183.webp");
    height:500vh;
}    
.header{
    display: flex;
    justify-content: space-evenly;
    height: 15vh;

}
.left__content{
    display:flex;
    flex: 0.2;
}

    

.image1{
    margin-top: 20px;
}
.title{
    color: rgba(10, 241, 182, 1);
    width: 30vh;
}
a{
    color: #0af1b6;
    text-decoration: none;
}
.center__content{
    display:flex;
    flex: 1.0;
    color:rgba(10, 241, 182, 1) ;
    justify-content: space-evenly;
    width: 300vh;
    height: 50vh;
    margin-left:50px;
    margin-bottom: 5000px;
}
.center__content>a>h1:hover{
    transform: scale(1.30);
    border-style: solid;
    border-width: 5px;
    border-radius: 6px;
    border-color: black;
    background-color:black ;
    color:#0af1b6;

}

.right__content{
    color:rgba(10, 241, 182, 1) ;
    display: flex;
    flex: 0.6;
    justify-content: space-evenly;
}
.register{
    border-style: solid;
    border-width: 5px;
    border-radius: 6px;
    border-color: black;
    background-color:black ;
    color:#0af1b6;
    box-shadow:0 5px 6px rgba(10, 241, 182, 1),0 2px 3px rgba(10, 241, 182, 1);
}
.login{
    border-style: solid;
    border-width: 5px;
    border-radius: 6px;
    border-color: black;
    background-color:black ;
    color:#0af1b6;
    box-shadow:0 5px 6px rgba(10, 241, 182, 1),0 2px 3px rgba(10, 241, 182, 1) ; 
}
.body{
    height: 15vh;
}

.intro{
    color:rgba(10, 241, 182, 1) ;
    margin-right: 1000px;
    margin-top: 150px;
    font-size: 40px;
}
.quote{
    color: rgba(10, 241, 182, 1);
    margin-right: 220px;
    margin-left: 20px;
    margin-top: 50px;
    font-size:90px;
    width: 80vh;
}
.explore{
    text-align: center;
    color: black;
    background-color:rgba(10, 241, 182, 1) ;
    color:rgba(10, 241, 182, 1) ;
    background-color: black;
    font-size: 30px;
    border-radius: 7px;
    box-shadow:0 5px 6px rgba(10, 241, 182, 1),0 2px 3px rgba(10, 241, 182, 1) ;
}
.explore:hover{
    transform: scale(1.30);
}
.expanded{
    text-align: center;
    color:black ;
    width: 100vh;
    margin-left: 300px;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    background-color: rgba(10, 241, 182, 1) ;
    box-shadow:0 5px 10px rgba(10, 241, 182, 1),0 2px 10px rgba(10, 241, 182, 1);
}
.investors{
    color:#0af1b6 ;
    text-align: center;
}
.registration{
    margin-top: 100px;
    margin-right: 400px;
   
}
.processing{
    margin-bottom: 10000000px;
    margin-left: 400px;
}