.login{
    background-image:url(/Users/luxoncl/projects/miniproject/src/images/1268183.webp);
}

.top__content{
    display: flex;
    justify-content: space-evenly;
}
.top__left{
    margin-right: 700px;
}
.top__right{
    margin-left: 300px;
}
.top__right>a>h1{
    border-style: solid;
    border-width: 5px;
    border-radius: 6px;
    color: rgba(10, 241, 182, 1);
    background-color:black ;
    border-color:black;
    box-shadow:0 5px 6px rgba(10, 241, 182, 1),0 2px 3px rgba(10, 241, 182, 1);

}
.content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;


}
.content__left{
    font-size: 40px;
    width: 200vh;
}
.content__left>h1>span{
    color: aliceblue;
}
.content__right{
    margin-right: 250px;
    border-style: solid;
    border-width: 15px;
    border-radius: 20px;
    height: 65vh;
    width: 80vh;
    font-size: 40px;
    color: rgba(10, 241, 182, 1);
    border-color: black;
    box-shadow:0 5px 20px rgba(10, 241, 182, 1),0 2px 20px rgba(10, 241, 182, 1);
}